<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
        <hibernate-configuration>
    <session-factory>
        <mapping class="com.common.model.QuestionMultCMultA"/>
        <mapping class="com.common.model.AnswerMultCMultA"/>
    </session-factory>
</hibernate-configuration>